main.content(id="content")
    +country-box("", "probe 1", "descr1:", "descr2:", "descr3:")
    +country-box("", "probe 1", "descr1:", "descr2:", "descr3:")
    +country-box("", "probe 1", "descr1:", "descr2:", "descr3:")
    +country-box("", "probe 1", "descr1:", "descr2:", "descr3:")
    +country-box("", "probe 1", "descr1:", "descr2:", "descr3:")
    +country-box("", "probe 1", "descr1:", "descr2:", "descr3:")
    +country-box("", "probe 1", "descr1:", "descr2:", "descr3:")
    +country-box("", "probe 1", "descr1:", "descr2:", "descr3:")
