main.content(id="content")
    +country-box("", "probe 1", "descr1:", "descr1:", "descr1:")
    +country-box("", "probe 2", "descr2:", "descr2:", "descr2:")
    +country-box("", "probe 3", "descr3:", "descr3:", "descr3:")
    +country-box("", "probe 4", "descr4:", "descr4:", "descr4:")
    +country-box("", "probe 5", "descr5:", "descr5:", "descr5:")
    +country-box("", "probe 6", "descr6:", "descr6:", "descr6:")
    +country-box("", "probe 7", "descr7:", "descr7:", "descr7:")
    +country-box("", "probe 8", "descr8:", "descr8:", "descr8:")
