include _variables.pug
<!DOCTYPE html>
html(lang="en")
    include _head.pug
    body
        header
            div.header(id="header")
                div.header_Title
                    span #{title}
                div.header_Mode(id="mode")
                    i.fas(class="fa-moon" id="moon")
                    span White Mode
        block content